Source: sift
Section: misc
Priority: extra
Maintainer: Erik Kristensen <erik@erikkristensen.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2

Package: sift
Architecture: any
Depends: afterglow, arp-scan, autopsy, bitpim, bitpim-lib, bless, blt, build-essential, bulk-extractor, cabextract, cryptsetup, dconf-tools, dff, dumbpig, e2fslibs-dev, ent, etherape, extundelete, fdupes, flex, foremost, f-spot, fuse-utils, g++, gcc, ghex, gthumb, hal, hal-info, hexedit, hydra, hydra-gtk, ipython, kdiff3, kpartx, libesedb, libevt, libewf, libewf-dev, libewf-python, libewf-tools, libfuse-dev, libnet1, libparse-win32registry-perl, libregf, libregf-dev, libregf-python, libregf-tools, libssl-dev, libvshadow, libvshadow-dev, libvshadow-python, libvshadow-tools, libxml2-dev, myunity, netpbm, nfdump, ntop, okular, openjdk-6-jdk, p7zip-full, phonon, python, python-analyzemft, python-flowgrep, python-nids, python-ntdsxtract, python-qt4, python-tk, sleuthkit, tcl, tcpflow, tcpstat, tcptrace, tofrodos, transmission, unrar, virtuoso-minimal, winbind, wine, wireshark, xmount, zenity
Description: Provides all the necessary tools and packages to transform a system into a SIFT Workstation
 Provides all the necessary tools and packages to transform a system into a SIFT Workstation
 
Package: sift-skin
Architecture: any
Depends: sift
Description: Provides the look and feel of a SIFT Workstation
 Provides the look and feel of a SIFT Workstation
