Source: sift
Section: forensics
Priority: extra
Maintainer: Erik Kristensen <erik@erikkristensen.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2

Package: sift
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, drawers, f-spot, gthumb, transmission, myunity, etherape, wireshark, okular, bless, ghex, hexedit, python-tk, cryptsetup, e2fslibs-dev, extundelete, kdiff3, libxml2-dev, libfuse-dev, zenity, flex, fuse-utils, ent, libssl-dev, openjdk-6-jdk, python, gcc, g++, python-stdeb, dconf-tools, hydra, hydra-gtk, bitpim, cryptsetup, fdupes, extundelete, autopsy, aptitude, bitpim-lib, blt, hal, hal-info, fuse-utils, foremost, netpbm, p7zip-full, python, python-qt4, python-tk, sleuthkit, tcl, unrar, wine, winbind, virtuoso-minimal, xmount, phonon, tofrodos, cabextract, dff, libewf (>= 20130416-1), libewf-dev (>= 20130416-1), libewf-python (>= 20130416-1), libewf-tools (>= 20130416-1), libregf, libregf-dev, libregf-python, libregf-tools, libvshadow, libvshadow-dev, libvshadow-python, libvshadow-tools
Description: This is the base SIFT Package 
 This is the Base SIFT Package that installs all required dependencies
 to make the SIFT Workstation
